* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  height: 600px;
  padding: 16px;
  border: 2px solid black;
  border-radius: 1%;
  background: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}